@charset "UTF-8";
p {
  margin-left: 2px;
}

p span {
  color: #111;
}

/* operaciones con variables */
div {
  margin-top: 4px;
  margin-left: 3px;
  margin-bottom: 1px;
  margin-right: 600px;
  /*divisiones de valores fijos van entre parentesis*/
  left: 50px;
}

body {
  background-color: #02CA00;
}

.padre {
  background-color: #02CA00;
}

.padre.hijo {
  background-color: #111;
}

.padre {
  background-color: #02CA00;
}

.padre .hijo {
  background-color: #111;
}

/*media queries */
div {
  background-color: #02CA00;
}

@media screen and (min-width: 1025px) {
  div {
    width: 75%;
    margin: 0 auto;
  }
}

/* existen algunas propiedades de sass que permiten aclarar
u oscurecer los colores*/
/* los hace mas claros*/
.lighten {
  background-color: #03fd00;
}

/*los hace mas oscuros*/
.darken {
  background-color: black;
}

/*los colores  saturados */
.saturate {
  background-color: #02ca00;
}

/*desatura los colores*/
.desaturate {
  background-color: #0cc00a;
}

/* transparencia como en css normal pero  nos acepta cualquier valor
 de color y no nos pide los tres valores*/
.rgba {
  background-color: rgba(255, 0, 0, 0.5);
  background-color: rgba(2, 202, 0, 0.5);
}

/*invierte el color */
.invert {
  background-color: #fd35ff;
}

/*busca el color complementario*/
.complement {
  background-color: #c800ca;
}

/* Mixin Trozos de código que despues puedes reutilizar es como una
variable que en vez de solo guardar un solo valor guarda todo un trozo de
código*/
/*incluimos el mixin en una clase*/
.prueba {
  border-radius: 20px;
  background-color: red;
}

/* a los mixin tambien se les puede pasar parametros*/
.prueba2 {
  border-radius: 2px;
  background-color: red;
  border: 30px;
}

/* en Sass se pueden crear ciclos  */
/*la diferencia entre "through" y "to" es que "to" no toma en cuenta el ultimo
  numero mientras que "through" si*/
.miclase-20 {
  width: 20px;
}

.miclase-40 {
  width: 40px;
}

.miclase-60 {
  width: 60px;
}

.miclase-80 {
  width: 80px;
}

.miclase-100 {
  width: 100px;
}

.movil-20 {
  width: 20px;
}

.movil-40 {
  width: 40px;
}

.movil-60 {
  width: 60px;
}

.movil-80 {
  width: 80px;
}

.movil-100 {
  width: 100px;
}

.tablet-20 {
  width: 20px;
}

.tablet-40 {
  width: 40px;
}

.tablet-60 {
  width: 60px;
}

.tablet-80 {
  width: 80px;
}

.tablet-100 {
  width: 100px;
}

.hd-20 {
  width: 20px;
}

.hd-40 {
  width: 40px;
}

.hd-60 {
  width: 60px;
}

.hd-80 {
  width: 80px;
}

.hd-100 {
  width: 100px;
}

.web-20 {
  width: 20px;
}

.web-40 {
  width: 40px;
}

.web-60 {
  width: 60px;
}

.web-80 {
  width: 80px;
}

.web-100 {
  width: 100px;
}

/*podemos tambien crear maps y usar mediaqueries*/
@media all and (min-width: 480px) {
  .phone-20 {
    width: 20px;
  }
  .phone-40 {
    width: 40px;
  }
  .phone-60 {
    width: 60px;
  }
  .phone-80 {
    width: 80px;
  }
  .phone-100 {
    width: 100px;
  }
}

@media all and (min-width: 768px) {
  .tablet-20 {
    width: 20px;
  }
  .tablet-40 {
    width: 40px;
  }
  .tablet-60 {
    width: 60px;
  }
  .tablet-80 {
    width: 80px;
  }
  .tablet-100 {
    width: 100px;
  }
}

@media all and (min-width: 1020px) {
  .web-20 {
    width: 20px;
  }
  .web-40 {
    width: 40px;
  }
  .web-60 {
    width: 60px;
  }
  .web-80 {
    width: 80px;
  }
  .web-100 {
    width: 100px;
  }
}

@media all and (min-width: 1400px) {
  .hd-20 {
    width: 20px;
  }
  .hd-40 {
    width: 40px;
  }
  .hd-60 {
    width: 60px;
  }
  .hd-80 {
    width: 80px;
  }
  .hd-100 {
    width: 100px;
  }
}
