doctype html5
html(lang= "es")
  head
    title hola a todos
    meta(charset utf-8)
  body  
    p#hola.estas.son.algunas.clases
    ul
      li: a(href = "#")
      li: a(href = "#")
    
    p hola amigos
    p 
      span hola amigos
  
  
